{% extends "base.html" %}

{% block customstyles %}  
<style>
    .footer {
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       background-color: Blue;
       color: white;
       text-align: center;
    }
  </style>
{% endblock %}


{% block content %}


<h1> Percolation Model </h1>
  <h3>This website will be modeling the process of percolation, the process of a
     fluid slowly traveling through a porous material. </h3>
  <form method="POST" action="/submit">
    Size of Matrix Model:<br>
    <input type="text" name="matrixSize" value="10">
    <br>
    Site vacancy probability:<br>
    <input type="text" name="probability" value="0.5">
    <br><br>
    <input type="submit" value="Submit">
  </form>
  </div>
  </div>
  <div class="footer">
  <p>Made by Anikait Singh for AP CSP Create Task. &copy; 2018 Anikait Singh</p>

{% endblock %}


  

