<html>
<head>
  <title>Percolation by Groundwater</title>
</head>

<body>
  <div class="jumbotron">
    <h1> Percolation Model </h1>
    <h3>This website will be modeling the process of percolation, the process of a
      fluid slowly traveling through a porous material. </h3>
      <form method="POST" action="/submit">
        Size of Matrix Model:<br>
        <input type="text" name="matrixSize" value="10">
        <br>
        Site vacancy probability:<br>
        <input type="text" name="probability" value="0.5">
        <br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
  </html>
